<a href="https://colab.research.google.com/github/andreazmj/project-2/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Boolean
Male = True
Female = False
# print(Male)

# String
namaku = "Andreas Setia Atmaja"
#namaku = "Tono"
print (namaku)

#Integer
umurku = 26

tahunKelahiran = 1996
tahunSekarang = 2023
# print (tahunSekarang )

# Float
GPA = 3.56
# print (GPA)

#Complex number
number = 2+2j
#print (angka)

print (type(Male))
print (type(GPA))
print (type (number))

Andreas Setia Atmaja
<class 'bool'>
<class 'float'>
<class 'complex'>

In [ ]:
print ("Halo, namaku ", namaku)

Halo, namaku  Andreas Setia Atmaja

In [ ]:
a = 13.0
b = 3
print(a + b)
print(a * b)
print(a - b)
print(a % b)
print(a ** a)
print(pow(a,b))
print(abs(a))

print (max(3,4,5,6,10))
print (min(3,4,5,6,10))

16.0
39.0
10.0
1.0
302875106592253.0
2197.0
13.0
10
3

In [ ]:
a = 600
b = 630
if b>a:
  print("b lebih besar dari a")
else:
  print("ini a lho yg lbh gede")

b lebih besar dari a

In [ ]:
a = 90 #1000, 8, 9, 90
b = 33
c = 190

# = maka assign nilai
# == maka compare nilai

if (a > b > c) and a >= 1000:
  print("A adalah yang terbesar")
elif (a == 9):
  print("A adalah 9")
elif (a > b or a > c) and a <=1000:
  print("Salah Satu kondisi adalah benar")
else:
  print("Semua salah")

Salah Satu kondisi adalah benar

In [ ]:
  x =21 #9,19,21

  # indent 
  if x > 10:
    print("Diatas sepuluh,")
    if x > 20:
      print("Diatas 20 juga!!")
    else:
      print("tapi tidak diatas 20.")
  else:
      print("Nilai dibawah 10")

Diatas sepuluh,
Diatas 20 juga!!

In [ ]:
x = 5
y = 12

# AND = HARUS TRUE SEMUA UNTUK HASIL TRUE
# OR = SALAH SATU TRUE YA UDAH TRUE
# NOT = KEBALIKANNYA DARI HASIL OPERATOR AND / OR

print(x > 3 and y < 10) 
print(x > 3 or y < 4) 
print(not(x > 5 and y < 12))

False
True
True

List

In [ ]:
nama = ["Farah","Agil","Muggy","Farah"]
Jabatan = ["Tutor DS18", "Tutor DS16", "Tutor DS12"]

nama [3] = "Aries" 
print(nama)
Jabatan[2] = "Tutor Python 1"

print(Jabatan[2])

['Farah', 'Agil', 'Muggy', 'Aries']
Tutor Python 1

Tuple

In [ ]:
nama_tutor = ("Farah", "Agil", "Muggy")
Kota = ("Chicago","New York","Tokyo")

In [ ]:
Kota[2] = "Tokyo"

TypeError: ignored

Dictionary

In [ ]:
car = {
    "brand":"Ford",
    "model":"Mustang",
    "year": 1964
}

In [ ]:
car["year"]

NameError: ignored

#